@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-custom-prev-btn {
  background-image: url(./left-arrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-custom-next-btn {
  background-image: url(./right-arrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}